<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./head.ejs %>
</head>

<body>
  <div class="container">
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo"href="/">My Blog</a>
        </div>
    </nav>
<!--<div class="row">
      <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse ">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">My Blog</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../login">Login</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="../register">Register</a>
          </li>
        </ul>
      </div>-->