<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./head.ejs %>
</head>

<body>
  <div class="container-fluid">
    <div class="navbar-fixed">

        <nav>
            <div class="nav-wrapper #212121 grey darken-4">
                <a class="brand-logo" href="/">My Blog</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons">menu</i></a>


               <ul  class="right hide-on-med-and-down">

                          <li><a class="" href="/portfolio">Home <span class="sr-only">(current)</span></a></li>

                          <li><a class="" href="/blogs/new">New Post</a></li>

                          <% if( !currentUser ){ %>
                          <li><a class="" href="../login">Login</a></li>
                          <li><a class="" href="../register">Register</a></li>
                          <%  }%>
                        <% if( currentUser ){ %>
                              <li><a class="" href="../logout">Logout</a></li>
                        <%  }%>

                  </ul>
                 <ul id="nav-mobile" class="side-nav ">
                        <li><a class="divider" href="/">Home <span class="sr-only">(current)</span></a></li>
                        <li><a class="divider" href="/blogs/new">New Post</a></li>
                        <% if( !currentUser ){ %>
                        <li><a class="" href="../login">Login</a></li>
                        <li><a class="" href="../register">Register</a></li>
                        <%  }%>
                        <% if( currentUser ){ %>
                              <li><a class="" href="../logout">Logout</a></li>
                        <%  }%>


                </ul>
            </div>
        </nav>
      </div>
