<% include partials/header.ejs %>
        <div class="row">
            <h2 class="#00897b teal-text darken-1 center-align">New Blog</h1>
            <form class="col s12 l12" action="/blogs" method="POST">
                <div class="row">
                     <div class="input-field col s10 l12">
                            <input type="text" id="image"  name="blog[title]" placeholder="Title">
                           <label for="title">Title</label>
                    </div>
                     <div class="input-field col s10 l12">
                        <input type="text" name="blog[image]" id="image" placeholder="Image source">
                         <label for="image">Image</label>
                    </div>
                     <div class="input-field col s12 l10">
                         <textarea type="text"id="body" name="blog[body]" placeholder="Write About....."></textarea>
                         <label for="body">Write Something</label>
                    </div>
                    <button class="btn btn-block waves-effect z-depth-2 center-align"type="submit">Submit
                         <i class="material-icons right">send</i>
                    </button>
                </div>
            </form> 
        </div>    

<% include partials/footer.ejs %>
