<% include partials/header.ejs %>
    <div class="container section">
            <div class="row">
                <% result %>
               
            </div>   
    </div>
<% include partials/footer.ejs %>
